
.box-1{
   box-sizing: content-box;
    width: 700px;
    height: 300px;
  padding: 50px;
  background-color: darkcyan;
}

.box-2{
    box-sizing: border-box;
    width: 700px;
    height: 300px;
    padding: 50px;
    background-color: cornflowerblue;
}