*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-1{
   
    width: 700px;
    height: 300px;
  padding: 50px;
  background-color: darkcyan;
  border: 30px solid black ;
  margin: 50px;
}

.box-2{
   
    width: 700px;
    height: 300px;
    padding: 50px;
    background-color: cornflowerblue;
    border: 30px solid black ;
}